<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Firefox"/>
    <add key="Username" value="Gabriel Calvo"/>
    <add key="Password" value ="pass"/>
    <add key="Uri" value="https://the-internet.herokuapp.com/"/>
    <add key="TimeOut" value="15"/>
    <add key="ElementTimeOut" value="15"/>
  </appSettings>
</configuration>